@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
/*Navegacion*/
.principal{
    display: flex;
    justify-content: flex-start;
    height: 100vh;
}
.nav-bar{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-start;
    gap: 80px;
    text-align: center;
    width: 35%;
    padding: 0 0 0 50px; 
    background-color: rgb(226, 225, 225);
}
.nav-bar__item{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
}
span{
    display: inline-block;
    padding: 5px 10px;
    background-color:rgb(90, 96, 214) ;
    border-radius: 10px;
}
a{
    text-decoration: none;
}
.nav__link{
    color:rgb(90, 96, 214);
}
.nav__link:hover{
    scale: 1.05;
    color: rgb(61, 69, 212);
    background-color:rgb(150, 153, 218);
}
a,img{
    display: inline-block;
}
img{
    max-width: 200px;
    max-height: 300px;
}
.problem{
    max-width: 200px;
    max-height: 300px;
}

/*principal*/
.main{
    border:2px solid rgb(196, 196, 196);
    margin: 20px 20px;
    border-radius: 15px;
    padding: 5px;
    overflow-y: scroll;
}
.main h2{
    font-size: 1.3em;
    font-weight: normal;
}
.cotainer-products{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap:wrap;
    gap: 30px;
}
.product-item{
    width: 100%;
    border: 1px solid rgb(231, 231, 231);
    border-radius: 15px;
    max-width: 220px;
    max-height: 400px;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.text-product{
    box-sizing: border-box;
    width: 100%;
    border: 1px solid grey;
    border-radius: 10px;
    background-color:rgb(231, 231, 231);
    font-size: small;
    padding-left: 5px;
    padding-bottom: 10px;
}

.text-product button{
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: rgb(112, 117, 211);
    font-weight: bold;
}
.text-product button:hover{
    cursor: pointer;
    scale: 1.05;
    background-color:rgb(61, 69, 212); 
}


@media (max-width: 498px){
    
}